<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <form action="/process" method="POST">
            <input type="text" name="username" placeholder="Name"></input>
            <select name="location" id="location">
                <option >Las Angelas</option>
                <option >Chicago</option>
                <option >South Pole</option>
            </select>
            <select name="languages" id="languages">
                <option >Java</option>
                <option >Python</option>
                <option >CSS</option>
            </select>
            <textarea name="comments" id="comments" placeholder="Leave comment here"></textarea>
            <input type="submit"></input>
        </form>
    </div>
</body>
</html>